services:
  postgres:
    image: postgres:18
    environment:
      POSTGRES_DB: tq
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5555:5432"
    volumes:
      - pg_data:/var/lib/postgresql

volumes:
  pg_data:
